body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

/* LOGIN PAGE */
.login-container {
    width: 320px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #aaa;
    text-align: center;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

.login-container button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.navbar select, 
.navbar button {
    padding: 8px;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: white;
    padding: 15px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    box-shadow: 2px 0px 5px #ccc;
}

.sidebar input, 
.sidebar select, 
.sidebar button {
    width: 95%;
    padding: 9px;
    margin-top: 10px;
}

/* CARD AREA */
.card-container {
    margin-left: 270px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.btn-group button {
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
}